<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Vue js</title>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div id="shopping-list">
    <div class="header">
      <h1>{{header.toUpperCase()}}</h1>
      <p>Akses tanggal: {{tanggal}}</p>
      <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
      <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
    </div>
    <div v-if="state === 'edit'" class="add-item-form">
      <input type="text" placeholder="add new item.." v-model="newItem" @keyup.enter="saveItem">
      <p>{{characterCount}}/200</p>
      <button class="btn btn-primary" @click="saveItem" :disabled="newItem.length === 0">Save Item</button>
    </div>
    <ul>
      <li v-for="item in items" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{item.label}}</li>
      <p v-if="items.length === 0">No data.</p>
    </ul>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    const app = new Vue({
      el: '#shopping-list',
      data: {
        state: 'edit',
        tanggal: new Date().toLocaleDateString(),
        header: 'Shopping List',
        pVModel: '',
        newItem: '',
        items: [
          {
            label: '10 party hats',
            purchased: false
          },
          {
            label: '2 board games',
            purchased: true
          },

          {
            label: '20 cups',
            purchased: false
          }
          // "buy some milk",
          // "buy 1kg egss",
          // "buy nintendo"
        ]
      },
      methods: {
        saveItem: function () {
          this.items.push({
            label: this.newItem,
            purchased: false
          });
          this.newItem = '';
        },

        changeState: function(newState){
          this.state = newState;
          this.newItem = '';
        },

        togglePurchased: function(item){
          item.purchased = !item.purchased;
        }
      },
      computed: {
        characterCount: function(){
          if(this.newItem.length > 200) {
            swal("", "Character is limit to 200", "warning");
          } else {
            return this.newItem.length
          }
        },

        reversedItems: function(){
          return this.items.slice(0).reverse();
        }
      }
    })
  </script>
</body>

</html>