<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Vue js</title>
</head>
<body>
  <div id="shopping-list">
    <h1>{{header.toUpperCase()}}</h1>
    <p>Akses tanggal: {{tanggal}}</p>
    <div class="add-item-form">
      <input type="text" placeholder="add new item.." v-model="newItem" @keyup.enter="addNewItem">
      <button class="btn btn-primary" @click="addNewItem">Save Item</button>
    </div>
    <ul>
      <li v-for="item in items">{{item}}</li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    const app = new Vue({
      el: '#shopping-list',
      data: {
        tanggal: new Date().toLocaleDateString(),
        header: 'Shopping List',
        pVModel: '',
        newItem: '',
        items: [
          "buy some milk",
          "buy 1kg egss",
          "buy nintendo"
        ]
      },
      methods: {
        addNewItem: function(){
          this.items.push(this.newItem);
          newItem = '';
        }
      }
    })

    console.log(app);
  </script>
</body>
</html>